/* Common Styles */
/* Reset default margin and padding for all elements */


.container {
    background-color:black;
    height: 40px;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
 }

/* Forms */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Links */

